body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.container{
    background-color:#302f2ec2;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 70vh;
    margin-top: 2em;
    overflow: hidden;
}
.wraper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 1rem 1rem 1rem;
}
.navigation{
    margin: 1rem;
    display: flex;
}

.textSlides{
    margin: 1rem;
}
p{
    color: whitesmoke;
    text-shadow: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
    
}
.slide{
    width: 25%;
    transition: all .6s ease;
}
.slide img {
    width: 100%;
    height: 100%;
}
.btn{
    height: 8px;
    width: 8px;
    cursor: pointer;
    background-color: red;
    opacity: 0.5;
}

input[name="radio"]{
    position: absolute;
    visibility: hidden;
}
.navigation .btn {
    height: 3rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: inherit;
    flex-direction: row;
}
.btn > .circle {
    z-index: 3;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1983e6;
    border: 0.1rem solid #1983e6;
    border-radius: 50%;
    transition: 1s, border 1s;
}


#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -25%;
}
#r3:checked ~ .s1 {
    margin-left: 50%;
}
#r4:checked ~ .s1 {
    margin-left: -75%;
}